:root {
    --input-container-background: rgba(255,255,255,0.05);
    --input-container-border-top: 1px solid rgba(255,255,255,0.2);
    --input-container-border-left: 1px solid rgba(255,255,255,0.2);
    --btn-text-color: rgb(8, 106, 39);
    --btn-background-color: #90ee90;
    --input-background: rgba(255,255,255,0.05);
    --input-border-top: 1px solid rgba(255,255,255,0.2);
    --input-border-left: 1px solid rgba(255,255,255,0.2);
    --input-color: #053510;
    --input-placeholder: #263a2c;
    --input-focus-color: #04ff53;


    --btn-color: #086a27;
    --btn-background: #7acf7a;
    --btn-hover-color: #132417;
    --btn-disabled-color: #b4cfbc;
    --btn-disabled-hover: rgb(211, 239, 211);
    --btn-disabled-background: rgb(211, 239, 211);
    --add-marker-color: #04ff53;

    --slider-background: #a9f1a1;
    --slider-thumb-background: #4CAF50;
}